
<p>
    <strong>Title:</strong>
    <%= @auction.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @auction.description %>
</p>

<p>
    <strong>Start price:</strong>
    <%= @auction.start_price %>
</p>