
<p>
    <strong>Title:</strong>
    <%= @auction.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @auction.description %>
</p>

<p>
    <strong>Price:</strong>
    <%= @auction.min_price %>
</p>