<div class="form-group">
    <%= form_for([@auction, @auction.pictures.build]) do |f| %>
        <div class="form-group">
        <%= f.text_field(:url, class: "input-sm form-group") %>
        <%= f.submit "Add picture", class: "btn btn-sm btn-success" %>
        </div>
    <% end %>
</div>