    <h1>Your picture: </h1>
    <p>
        <%= image_tag @picture.url %>
    </p>
    <%= link_to "Delete picture", auction_picture_path(@auction, @picture), method: :delete, class: 'btn btn-danger' %>
